{% extends 'layout.html' %}

{% block body %}

<div class="container">
 <div class="page-header text-center">

    <h1>B Team Project</h1>

<form action="/email" method="POST">

    Email:<input name ="email">
    <input type="submit" value="input">
</form>

<form action="program.php" method="get">

    PHP Email:<input type="text" name ="email">
    <input type="submit">
</form>

<form action="/phpemail" method="get">

    PHP Email:<input type="text" name ="email">
    <input type="submit">
</form>




   </div>
  </div>

{% endblock %}
